/*
IMPORTANT

Color Scheme:
(main) Neon Orange: #ff4f00
(complement) Purple: #801FCC
Background: #E8E8E8
and white


*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 0 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#flex-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#could-be-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 20px;
    margin-top: 20px;
}

#could-be-cont h1 {
    font-size: 5em;
    color: #801FCC;
}

#could-be-cont h3 {
    color: #ff4f00;
    margin-top: -20px;
}

#details {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

#details p {
    width: 350px;
    text-align: center;
}

.some-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.neon-divide {
    height: 200px;
    border-right: 1px solid #ff4f00;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 94px;
}

#the-math {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#math-svg {
    background-image: url("../svg/orange-trap-neon.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 350px 40px;
    width: 350px;
    height: 40px;
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#the-tracker {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#diamond-svg {
    background-image: url("../svg/orange-neon-diamond.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 220px 80px;
    width: 220px;
    height: 80px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#diamond-svg h2 {
    text-decoration: underline;
    margin-bottom: 25px;
}

#diamond-svg a:hover {
    color: white;
}

#the-fax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fax-svg {
    background-image: url("../svg/orange-trap-reverse-neon.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 350px 40px;
    width: 350px;
    height: 40px;
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 1200px) {
    #could-be-cont h1 {
        text-align: center;
    }

    #details {
        flex-direction: column;
        align-items: center;
    }

    #details p {
        width: 60%;
    }

    #the-tracker {
        order: 1;
    }

    #first-divider {
        order: 2;
    }

    #the-math {
        order: 3;
    }

    #second-divider {
        order: 4;
    }

    #the-fax {
        order: 5;
    }

    .neon-divide {
        height: 1px;
        width: 40%;
        border-top: 1px solid #801FCC;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #math-svg {
        margin-top: 25px;
    }

    #fax-svg {
        margin-top: 25px;
    }
}